---
layout:    page
permalink: "/experience"
author:    nkarasch
keywords:  employment experience skills internships education school Iowa State University degree
title:     Experience
menutitle: Experience
weight:    70
excerpt:   This page contains information about the author's employment, education, and other experience.
---
{% assign cv = site.data.resume.[page.author] %}

<div class="md-card shadow">
    <div class="title icon-stats-bars">
        <h2>Expertise & Accomplishments</h2>
    </div>
    <div class="content">
        <ul>
            {% for skill in cv.skills %}
            <li>{{ skill }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<h2 class="employment-heading">Experience</h2>

<div class="timeline-container">
    {% for employment in cv.employment %}
    <div class="timeline-block">
        <div class="marker"></div>
        <div class="time">{{employment.time}}</div>
        <div class="timeline-content">
            <div class="time">{{employment.time}}</div>
            <h3>{{employment.position}}</h3>
            <span>{{employment.company}} ({{employment.location}})</span>
            <ul>
                {% for responsibility in employment.responsibilities %}
                <li>{{responsibility}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>

<div class="md-card shadow education">
    <div class="title icon-library">
        <h2>Education</h2>
    </div>
    {% for entry in cv.education %}
    <dl>
        <dt class="time">{{entry.time}}</dt>
        <dd>
            <h3>{{entry.location}}</h3>
            <p>{{entry.description}}</p>
	    <p>GPA: {{entry.gpa}}</p>
        </dd>
    </dl>
    {% endfor %}
</div>

<div class="md-card shadow">
    <div class="title icon-stats-bars">
        <h2>Technologies</h2>
    </div>
    <div class="content">
        {% assign tech_size = cv.technologies.size %}
        {% assign half_index = tech_size | divided_by:2 %}
        <ul class="technologies-list">
            {% for technology in cv.technologies limit:half_index %}
            <li>{{ technology }}</li>
            {% endfor %}
        </ul>
        <ul class="technologies-list">
            {% for technology in cv.technologies offset:half_index %}
            <li>{{ technology }}</li>
            {% endfor %}
        </ul>
        <hr>

    </div>
</div>

<div class="md-card shadow">
    <div class="title icon-stats-bars2">
        <h2>Relevant Coursework</h2>
    </div>
    <div class="content">
        <dl class="coursework">
            {% for course in cv.courses %}
            <dt><a href="{{ course.link }}" target="_blank">{{ course.code }}</a></dt>
            <dd>{{ course.title }}</dd>
            {% endfor %}
        </dl>
    </div>
</div>
