---
layout:    page
permalink: "/projects"
author:    nkarasch
keywords:  projects code repository examples work portfolio
title:     Projects
menutitle: Projects
weight:    50
excerpt:   This page contains examples of the author's work.
---
{% assign cv = site.data.resume.[page.author] %}

{% for project in cv.projects %}
<div class="md-card shadow project">
    <div class="meta">
        <div class="team">{{project.team}}</div>
        <div class="time">{{project.time}}</div>
    </div>
    <div class="content">
        <h2>{{project.title}}</h2>
        <ul>
            {% for responsibility in project.responsibilities %}
            <li>{{responsibility}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="footer">
        <ul>
            {% assign technologies = project.technologies | split: ',' %}
            {% for technology in technologies %}
            <li> {{ technology }}</li>
            {% endfor %}
        </ul>
        <span class="icon-briefcase"></span>
    </div>
</div>
{% endfor %}

These are the projects I plan to talk about:

- L2 Speech Ratings
- [SmartSync](http://projects.krashdev.com/smartsync){:target="_blank"}
- [Codable Media Mashup](http://projects.krashdev.com/codable_media_mashup){:target="_blank"}
- [Mines of MIDIa](http://projects.krashdev.com/mines_of_midia){:target="_blank"}
- [browser_cli](http://projects.krashdev.com/browser_cli){:target="_blank"}
- [nextbus](http://projects.krashdev.com/nextbus){:target="_blank"}
- [Beatnik Encryption](http://projects.krashdev.com/beatnik_encryption){:target="_blank"}
