---
layout:    page
permalink: "/projects"
author:    nkarasch
keywords:  projects code repository examples work portfolio
title:     Projects
menutitle: Projects
weight:    50
excerpt:   This page contains examples of the author's work.
---
{% assign cv = site.data.resume.[page.author] %}

<div class="md-card no-border bufbottom">
    <p>Here you'll find a small sampling of projects I've worked on. Most
        of them are school projects, since a lot of the work I do now involves non-disclosure
        agreements.</p>
    <p class="author-info"><b>Click on the project title for more details about that project.</b></p>
</div>

{% for project in cv.projects %}
<div class="md-card shadow project">
    <div class="meta">
        <div class="team">{{project.team}}</div>
        <div class="time">{{project.time}}</div>
    </div>
    <div class="content">
        <h2><a href="{{site.baseurl}}{{project.url}}">{{project.title}}</a></h2>
        <ul>
            {% for responsibility in project.responsibilities %}
            <li>{{responsibility}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="footer">
        <ul>
            {% assign technologies = project.technologies | split: ',' %}
            {% for technology in technologies %}
            <li> {{ technology }}</li>
            {% endfor %}
        </ul>
        <span class="icon-briefcase"></span>
    </div>
</div>
{% endfor %}
