---
layout:    page
permalink: "/projects"
author:    nkarasch
keywords:  projects code repository examples work portfolio
title:     Projects
menutitle: Projects
weight:    50
excerpt:   This page contains examples of the author's work.
---
{% assign cv = site.data.resume[page.author] %}

<div class="md-card no-border bufbottom">
    <p>Here you'll find a small sampling of projects I've worked on.
        Click on hyperlinked project titles to display more details,
        screenshots, etc about a given project.</p>
</div>

{% for project in cv.projects %}
<div class="md-card shadow project">
    <div class="meta">
        <div class="client">{{project.client}}</div>
        <div class="position">{{project.position}}</div>
    </div>
    <div class="content">
        <h2>
            {% if project.url %}
            <!--suppress HtmlUnknownTarget -->
            <a href="{{site.baseurl}}{{project.url}}">{{project.title}}</a>
            {% else %}
            {{project.title}}
            {% endif %}
        </h2>
        {% if project.description %}
        <p>{{project.description}}</p>
        {% endif %}
        <ul>
            {% for responsibility in project.responsibilities %}
            <li>{{responsibility}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="footer">
        <ul>
            {% assign technologies = project.technologies | split: ',' %}
            {% for technology in technologies %}
            <li> {{ technology }}</li>
            {% endfor %}
        </ul>
        <span class="icon-briefcase"></span>
    </div>
</div>
{% endfor %}
