---
layout:    page
permalink: "/resume"
author:    nkarasch
keywords:  about resume experience employment education skills school application hiring
title:     Resume
menutitle: Resume
weight:    90
excerpt:   This page contains the author's resume.
---
{% assign cv = site.data.resume[page.author] %}

    <div class="md-card no-border pleft-special">
        <blockquote>
            <p>Two roads diverged in a wood,
                and I &ndash; I took the one less traveled by.<br>
                And that has made all the difference.</p>
            <p><cite>&mdash; Robert Frost</cite></p>
        </blockquote>
    </div>

    <div class="md-card no-border buftop">
        <div class="title">
            <h2 style="padding-left:0;">Where I've been and where I'm going</h2>
        </div>
        {% for line in cv.profile %}
        <p>{{ line }}</p>
        {% endfor %}
    </div>

    <div class="md-card shadow">
        <div class="title icon-office">
            <h2>Career Objectives</h2>
        </div>
        <div class="content">
            <ul>
                {% for obj in cv.career_objectives %}
                <li>{{ obj }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="md-card shadow">
        <div class="title icon-briefcase">
            <h2 class="break-heading">
                <a href="assets/pdfs/Resume_Nathan_Karasch.pdf">
                    Click here to view my printable resume
                </a>
            </h2>
        </div>
    </div>

    {% include contactcard.html %}
